In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

df = pd.read_csv("/content/drive/My Drive/Colab/setik/dataset/201-region.csv")
shape_before = df.shape
shape_before

(426880, 17)

In [3]:
df.price.isna().sum()

0

In [4]:
df.price.unique()

array([ 6000, 11900, 21000, ...,  6328, 19853, 17873])

In [5]:
df.price.value_counts()

price
0        32895
6995      3169
7995      3129
9995      2867
8995      2837
         ...
21298        1
49217        1
63195        1
19709        1
17873        1
Name: count, Length: 15655, dtype: int64

# remove price == 0

remove null bcz target col

In [6]:
df = df[df.price != 0]
df.shape

(393985, 17)

# remove price pattern: 1, 12, 123, ..., 12345678910, 1234567890

In [7]:
pattern_list = [int(''.join(str(i) for i in range(1, j + 1))) for j in range(1, 11)]
pattern_list.append(1234567890)
pattern_list

[1,
 12,
 123,
 1234,
 12345,
 123456,
 1234567,
 12345678,
 123456789,
 12345678910,
 1234567890]

In [8]:
df = df[~(df.price.isin(pattern_list))]
df.shape

(391839, 17)

# remove price pattern: 1, 11, 111, ..., 111111111111, 2, 22, 222, ..., 222222222222, ..., 999999999999

In [9]:
pattern_list = [int(str(i) * j) for i in range(1, 10) for j in range(1, 13)]
print(pattern_list)

[1, 11, 111, 1111, 11111, 111111, 1111111, 11111111, 111111111, 1111111111, 11111111111, 111111111111, 2, 22, 222, 2222, 22222, 222222, 2222222, 22222222, 222222222, 2222222222, 22222222222, 222222222222, 3, 33, 333, 3333, 33333, 333333, 3333333, 33333333, 333333333, 3333333333, 33333333333, 333333333333, 4, 44, 444, 4444, 44444, 444444, 4444444, 44444444, 444444444, 4444444444, 44444444444, 444444444444, 5, 55, 555, 5555, 55555, 555555, 5555555, 55555555, 555555555, 5555555555, 55555555555, 555555555555, 6, 66, 666, 6666, 66666, 666666, 6666666, 66666666, 666666666, 6666666666, 66666666666, 666666666666, 7, 77, 777, 7777, 77777, 777777, 7777777, 77777777, 777777777, 7777777777, 77777777777, 777777777777, 8, 88, 888, 8888, 88888, 888888, 8888888, 88888888, 888888888, 8888888888, 88888888888, 888888888888, 9, 99, 999, 9999, 99999, 999999, 9999999, 99999999, 999999999, 9999999999, 99999999999, 999999999999]

In [10]:
df = df[~(df.price.isin(pattern_list))]
df.shape

(389331, 17)

# price.describe()

In [11]:
df.price.describe()

count    3.893310e+05
mean     7.108907e+04
std      1.233703e+07
min      1.000000e+01
25%      7.495000e+03
50%      1.559000e+04
75%      2.797700e+04
max      3.736929e+09
Name: price, dtype: float64

In [12]:
df.price.min()

10

In [13]:
df.price.max()

3736928711

# rows removed

In [14]:
count = shape_before[0] - df.shape[0]
perc = count / shape_before[0] * 100
perc = round(perc, 2)
print(f'count: {count}, percentage: {perc}%')

count: 37549, percentage: 8.8%

In [15]:
df.to_csv("/content/drive/My Drive/Colab/setik/dataset/202-price.csv", index=False)